<br>
<div class="row">
	<form class="col s12 offset-l3" action="">
		<div class="row">
			<div class="input-field col l6 s12">
				{{input type="text" class="form-control" value=title }}
				<label>Task Nombre</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col l6 s12">
				{{pikaday-input class="form-control" value=date format="DD/MM/YYYY"}}
				<label>Fecha</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col l6 s12">
				{{textarea class="materialize-textarea" value=description}}
				<label>Descripción</label>
			</div>
		</div>
		<button {{action 'addTask'}} class="btn btn-primary">Crear</button>
	</form>
</div>